@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #120e2a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.zero {
  color: #cc9a2e;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}
input:disabled{
  background-color: #b8b7c0;
  border-color: #a1a0a9 !important;
}
input[type='text'],
input[type='number'],
select {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background: linear-gradient(90deg, #5a40cb, #2f265b);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn-default{
  cursor: pointer;
  background: linear-gradient(90deg, #5a40cb, #2f265b);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  width: 100%;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list li.zero {
  border-right: 5px solid #cc9a2e;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.GoBack {
  display: flex;
  gap: 8px;
  vertical-align: middle;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.GoBack__svg {
  width: 30px;
}

.home__list > li,
  .home__list > li a{
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.textblock{
  border-left: 5px solid #eee;
  border-radius: 5px;

  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.rainbowsubheader{
  background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  border: none;
}

.barsorting__form{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.barsorting__container{
  width: 100rem;
  height: 40rem;
  background: #121837;
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end
}

@keyframes barHeightAnimation {
  from {
    height: 0;
  }
  to {
    height: inherit;
  }
}

.barsorting__bar{
  background: linear-gradient(180deg, #5a40cb, #1c1441);
  width: 100%;
  border: solid 2px #5a40cb57;
  height: 0;
  transition: height 1s ease-in-out;
  color: #a792b6;
  text-align: center;
  padding-top: 5px

}

.barsorting__bar.barsorting__active{
  background: linear-gradient(180deg, #cb405f, #2f0710);
  border: solid 2px #cb405f57;
}

